<div>
    <h1>Carrito</h1>
    {{#each payload.products}}
        <p>Product ID: {{_id}}</p>
    {{/each}}
</div>





<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>