<form action="/api/sessions/login" method="post">
    <input type="text" name="username" placeholder="Ingrese su username">
    <input type="text" name="password" placeholder="Ingrese su password">
    <button>Enviar</button>
</form>