body {
    margin: 0px;
    background-color: black;
    color: white;
}

.addProduct {
    padding: 10px;
    text-align: center;
}

.productList{
    color: yellow;
    text-align: center;
    display: inline-block;
}

.chatContainer { 
    top: 0px;
    background-color: darkslategrey;
    text-align: center;
    color: white;
}

.chatContainer h1 {
    margin-top: 0px;
    padding-top: 10px;
}

.chatContainer li {
    list-style: none;
}

#chatbox {
    margin: 10px;
}