body {
    margin: 0px;
    background-color: #27282D;
}

.addProduct {
    background-color: white;
    padding: 10px;
    text-align: center;
}
/* h1 {
    color: red;
} */
/* 
button {
    color: rgb(255, 38, 0);
} */